@font-face {
  font-family: 'Baloo Da 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/balooda2/v2/2-ci9J9j0IaUMQZwAJyJcu4.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Da 2';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/balooda2/v2/2-ch9J9j0IaUMQZwAJyJShr-hZk.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Da 2';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/balooda2/v2/2-ch9J9j0IaUMQZwAJyJSjb5hZk.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Da 2';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/balooda2/v2/2-ch9J9j0IaUMQZwAJyJSlL4hZk.ttf) format('truetype');
}
@font-face {
  font-family: 'Baloo Da 2';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/balooda2/v2/2-ch9J9j0IaUMQZwAJyJSk77hZk.ttf) format('truetype');
}
html {
  height: 100%;
  font-family: 'Baloo Da 2', cursive;
}
body {
  display: grid;
  grid-template-rows: 50px 35px calc(100% - 85px);
  grid-template-columns: 100%;
  height: 100%;
  background-color: #ECECEC;
  overflow-x: hidden;
}
body.vertical-menu {
  grid-template-rows: 100px calc(100% - 100px);
}
header {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, auto));
  grid-template-rows: 50px;
  z-index: 2;
  position: sticky;
  top: 0;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
header div.nav-button {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}
header div.logo {
  width: 100%;
  height: 50px;
  padding: 10px 0 10px 20px;
  padding-left: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 0px;
}
header div.logo p {
  line-height: 20px;
  font-size: 20px;
}
header div.logo span {
  line-height: 11px;
  font-size: 11px;
}
header div.right-panel {
  text-align: right;
  padding-right: 15px;
}
header div.right-panel ul {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  height: 50px;
  list-style: none;
  position: sticky;
  margin: 0;
}
header div.right-panel ul li {
  display: block;
  cursor: pointer;
  position: relative;
}
header div.right-panel ul li a {
  font-size: 24px;
  padding: 10px;
}
header div.right-panel ul li .dropdown {
  position: absolute;
  right: 0;
  min-width: 150px;
  background-color: white;
  z-index: 5;
  display: inherit;
  height: auto;
  filter: drop-shadow(0 0 1px rgba(50, 50, 0, 0.5));
  padding: 10px 0;
  transition: 0.15s ease-in-out;
  visibility: collapse;
  top: 60px;
  opacity: 0;
}
header div.right-panel ul li .dropdown::before {
  content: '';
  position: absolute;
  clip-path: polygon(45% 45%, 0% 100%, 100% 100%);
  height: 14px;
  width: 14px;
  top: -13px;
  right: 15px;
  background-color: white;
}
header div.right-panel ul li .dropdown li {
  display: block;
}
header div.right-panel ul li .dropdown li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
header div.right-panel ul li .dropdown li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
header div.right-panel ul li .dropdown li a i {
  font-size: var(--text-xl);
  margin-left: 10px;
  flex: 1;
  max-width: 20px;
  color: black;
}
header div.right-panel ul li .dropdown li a span {
  flex: 2;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--text-m);
  display: inline-block;
  padding: 6px 0;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}
header div.right-panel ul li:hover .dropdown {
  visibility: visible;
  top: 40px;
  opacity: 1;
}
@media (min-width: 1000px) {
  nav {
    height: 100%;
    text-align: center;
    grid-row: 2;
    grid-column: 1 / span 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav > ul {
    display: flex;
    list-style: none;
    font-size: 0;
    height: 100%;
    justify-content: center;
  }
  nav > ul > li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    height: 100%;
  }
  nav > ul > li:nth-child(1)::before {
    display: none;
  }
  nav > ul > li:before {
    content: "";
    width: 1px;
    height: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
  }
  nav > ul > li.parent > a {
    position: relative;
    padding-right: 30px;
    text-decoration: none !important;
  }
  nav > ul > li.parent > a:after {
    content: "\f107";
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--text-s);
    font-family: 'Line Awesome Free';
    font-weight: 900;
    transition: 0.15s;
  }
  nav > ul > li.parent:hover > a:after {
    transform: rotate(180deg) translateY(50%);
  }
  nav > ul > li.active {
    background-color: #ffffff;
  }
  nav > ul > li.active a {
    color: var(--color-primary);
    text-decoration: none !important;
  }
  nav > ul > li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    text-decoration: none;
    font-size: var(--text-m);
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    height: 100%;
    color: #ffffff;
    position: relative;
    text-decoration: none !important;
  }
  nav > ul > li a i:nth-child(1) {
    font-size: 18px;
    margin-right: 5px;
  }
  nav > ul > li a span {
    font-weight: normal;
  }
  nav > ul > li:hover {
    background-color: #ffffff;
  }
  nav > ul > li:hover a {
    color: var(--color-primary);
    text-decoration: none !important;
  }
  nav > ul > li:hover > ul > li > a {
    color: black;
    text-decoration: none !important;
  }
  nav > ul > li:hover > ul > li:hover {
    background-color: var(--color-secondary);
  }
  nav > ul > li:hover > ul > li:hover > a {
    color: white;
    text-decoration: none !important;
  }
  nav > ul > li > ul {
    display: block;
    visibility: hidden;
    height: 0;
    background-color: #ffffff;
    min-width: 100%;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999999999999;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  }
  nav > ul > li > ul > li {
    display: block;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    /*********/
    /********/
  }
  nav > ul > li > ul > li.active a {
    color: var(--color-primary);
    text-decoration: none !important;
  }
  nav > ul > li > ul > li a {
    color: black;
    padding: 5px 15px;
    justify-content: flex-start;
    text-decoration: none !important;
  }
  nav > ul > li > ul > li > ul {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
  }
  nav > ul > li > ul > li > ul > li > a {
    color: black !important;
  }
  nav > ul > li > ul > li > ul > li > a span {
    color: black;
  }
  nav > ul > li > ul > li > ul > li > a:hover {
    background-color: var(--color-secondary);
    color: #ffffff !important;
  }
  nav > ul > li > ul > li > ul > li > a:hover span {
    color: #ffffff !important;
  }
  nav > ul > li > ul > li:hover > ul {
    display: block;
    background-color: #fafafa;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  }
  nav > ul > li:hover > ul {
    visibility: visible;
    height: auto;
  }
}
@media (max-width: 1000px) {
  nav {
    position: fixed;
    bottom: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    z-index: 9999;
    background-color: transparent!important;
  }
  nav.active {
    left: 0;
  }
  nav.active .overflow {
    display: block;
  }
  nav.active ul.main {
    left: 0;
  }
  nav .overflow {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
  }
  nav ul {
    display: block;
    list-style: none;
    font-size: 0;
    z-index: 10;
    transition: all 0.15s ease-in-out;
  }
  nav ul.main {
    position: absolute;
    top: 0;
    left: -250px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    height: 100%;
    width: 250px;
  }
  nav ul > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  nav ul li {
    list-style: none;
    display: block;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
  }
  nav ul li.parent > a {
    position: relative;
    text-decoration: none !important;
  }
  nav ul li.parent > a:after {
    content: "\f107";
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    transition: 0.15s;
  }
  nav ul li.parent:hover > a:after {
    transform: rotate(180deg) translateY(50%);
  }
  nav ul li a {
    text-decoration: none !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
  }
  nav ul li a i {
    margin-right: 10px;
  }
  nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  nav ul li ul {
    display: block;
    visibility: hidden;
    height: 0;
    background-color: #ffffff;
    min-width: 100%;
    text-align: left;
    top: 100%;
    left: 0;
    z-index: 9999999999999;
  }
  nav ul li ul li {
    display: block;
  }
  nav ul li ul li a {
    text-decoration: none !important;
    color: black;
    padding: 10px 30px;
    justify-content: flex-start;
  }
  nav ul li:hover ul {
    visibility: visible;
    height: auto;
  }
}
.container {
  grid-column: 1;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 45px calc(100% - 46px);
  grid-gap: 1px;
  overflow-y: auto;
}
.container .title-bar {
  grid-row: 1;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #cccccc;
  z-index: 1;
}
.container .title-bar h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 45px;
  margin: 0 10px;
  text-transform: capitalize !important;
}
.container .content {
  grid-row: 2;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.container .content.without-header {
  grid-row: 1 / span 2;
}
@media (max-width: 900px) {
  .container .content.wrap {
    flex-wrap: wrap;
  }
  .container .content.wrap .item {
    min-width: 100%;
  }
  .container .content.wrap .item.min-content {
    max-width: 100% !important;
  }
}
.container .content .item {
  flex: auto;
  min-width: 150px;
  max-width: 100%;
  grid-row: 1;
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid #eeeeee;
}
.container .content .item.min-content {
  max-width: min-content;
}
.container .content .item:nth-last-child(1) {
  border-right: 1px;
}
.container .content .item.with-header-footer {
  display: flex;
  flex-direction: column;
}
.container .content .item.with-header-footer .item-header {
  justify-content: flex-start;
}
.container .content .item.with-header-footer .item-content {
  height: inherit;
}
.container .content .item.with-header-footer .item-footer {
  justify-content: flex-end;
}
.container .content .item.with-header {
  grid-template-rows: 40px calc(100% - 40px);
}
.container .content .item.with-header .item-content {
  grid-row: 2;
}
.container .content .item.with-footer {
  grid-template-rows: calc(100% - 40px) 40px;
}
.container .content .item.with-footer .item-content {
  grid-row: 1;
}
.container .content .item.with-footer .item-footer {
  grid-row: 2;
}
.container .content .item .item-header {
  grid-column: 1;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
}
.container .content .item .item-header .search-widget {
  display: block;
  position: relative;
  height: 40px;
}
.container .content .item .item-header .search-widget:before {
  content: '\f002';
  font-family: "Line Awesome Free";
  font-weight: 900;
  position: absolute;
  font-size: 18px;
  left: 10px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}
.container .content .item .item-header .search-widget input {
  display: block;
  border: 0;
  outline: none;
  padding-left: 35px;
  width: 100%;
}
.container .content .item .item-content {
  grid-row: 1;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
}
.container .content .item .item-footer {
  grid-row: 2;
  grid-column: 1;
  background-color: white;
  border-bottom: 1px solid #ffffff;
}
